<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{prod.name}}</h4>
        <small class="font-bold">{{prod.description}}</small>
    </div>


    <div class="modal-body">
        <div class="row">
            
            <div class="col-lg-12">
                <img src="{{prod.images[currentImg].url}}" style='height: 100%; width: 100%; object-fit: contain'>
            </div>

        </div>

        <div class="row" style="margin-top: 20px;">
            
            <div class="col-lg-4" ng-repeat="img in prod.images">
                <a shref="#" title="Image from Unsplash" ng-click="openProd(prod);">
                    <img src="{{img.url}}" style='height: 100%; width: 100%; object-fit: contain' ng-click="clickImage($index);">
                </a>            
            </div>
            
        </div>        
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="iWant()">Eu quero!</button>
        <button type="button" class="btn btn-white" ng-click="ok()">Fechar</button>
    </div>
</div>

